:root {
  box-sizing: border-box;
  font-size: calc(0.6em + 1vw);
  --font-color: #b1abab;
  --bordo: rgb(109, 66, 66);
  --obscure-bordo: hsl(0, 25%, 21%);

  --blue: hsl(193, 25%, 34%);
  --yelloww: hsl(67, 40%, 30%);
  --another: hsl(13, 25%, 34%);
  --petrol: hsl(182, 100%, 11%);
  --obscure-petrol: hsla(182, 44%, 11%, 0.5);
}
@media (min-width: 50em) {
  :root {
    font-size: 1.1rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;;
  line-height: 1.25;
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(
    to top,
    hsl(204, 3%, 17%),
    hsl(204, 1%, 15%)
  );
  color: var(--font-color);
}
